$sb-main-color: #272727;
$accent-color: dodgerblue;

.wrapper{
	width: 100%;
	height: 100vh;
	float: left;
}

.navPlaceholder{
	width: 30%;
	height: 100vh;
	float: left;
}

.sidebar{
	width: 30%;
	height: 100vh;
	overflow: auto;
	float: left;
	color: white;
	background: $sb-main-color;

	.catDiv, .noteDiv{
		padding: 20px 10% 0;
		border-bottom: 1px solid white;
	
		&:hover{
			
			h6{
				opacity: 1;
			}
		}
	}

	h1{
		// text-align: right;
		text-transform: uppercase;
		font-size: 42px;
	}

	h2, h3{
		text-align: center;
	}

	h3{
		font-size: 20px;
		font-weight: 100;
	}

	h6{
		margin: 0;
		text-align: right;
		opacity: 0;
	}

	span{
		left: 1%;
	}

	input[type="text"]{
		width: 100%;
		border: 0;
		border-bottom: 1px solid white;
		color: white;
		font-size: 22px;
		background: inherit;
	}

	input[type="submit"]{
		margin: 20px 0 0 0;
		padding: 5px 10px;
		border: 0;
		float: right;
		font-size: 22px;
		color: $sb-main-color;
		background: white;
	}

	.catDiv{
		text-transform: uppercase;
	}

	.newCatPopup{
		margin: 0;
		padding: 30px 10%;
		border-bottom: 1px solid white;
		background: $accent-color;
	}

}

.backButton{
	position: fixed;
	bottom: 5px;
}

.note{
	width: 70%;
	height: 100vh;
	padding: 0 5%;
	float: left;
	color: $sb-main-color;
	box-sizing: border-box;

	input{
		width: 100%;
		border: 0;
		border-bottom: 1px solid $sb-main-color;
		font-size: 42px;
	}

	textarea{
		width: 100%;
		height: 80vh;
		border: 0;
		font-size: 20px;
		font-weight: 100;
	}
}


.secondaryNav{
	@extend .sidebar;
	height: 100vh;
	position: fixed;
	overflow: scroll;
	top: 0;
	left: -30%;
	z-index: 1000;
	background: white;
}

.new_cat_popup{
	width: 30%;
	border: 1px solid #272727;
	position: fixed;
	bottom: 0;
	z-index: 1000;
	display:none;
}

.addNoteButton{
	position: fixed;
	top: 0;
	right: 20px;
	font-size: 52px;
}

.add_cat_button{
	position: fixed;
	left: 20px;
	bottom: 20px;
	font-size: 52px;
}

.opacityDown{
	opacity: 0;
}

.opacityUp{
	opacity: 1;
}

.overlayIn{
	left: 0;
}

.displayIn{
	display: block;
}

