<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Notes app.</title>
	<link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="notesApp">
	<div class="wrapper" ng-controller="notesController">
		<aside class="sidebar">
			<nav >
				<button ng-repeat="cat in categories" ng-click="selectCat($index); switchClass()">{{cat.description}}</button>
			</nav>
			<nav class="cat_nav">
			<button ng-repeat="note in selectedCat" ng-click="presentNote($index)">{{note.title}}</button>
			</nav>
		</aside>
		<article class="note">
			<h1>
				<input type="text" >
			</h1>
			<p>
				{{selectedNote.content}}
			</p>
		</article>
	</div>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="scripts/main.js"></script>
</body>
</html>