<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Notes app.</title>
	<link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="notesApp">
	<div class="wrapper" ng-controller="notesController">
		<!-- SIDEBAR STARTS -->
	<aside class="sidebar">
		<nav>
			<div class="catDiv">
				<h1>
					{{selectedCategory.catName}}
				</h1>
			</div>
			<div class="catDiv" ng-repeat="cat in selectedCategory.categories" ng-click="selectCat($index);">
				<h2>{{cat.catName}}</h2>
				<h6 ng-click="deleteCat($index);">Delete</h6>
			</div>
			<div class="noteDiv" ng-repeat="note in selectedCategory.notes" ng-click="presentNote($index);">
				<h3>{{note.noteTitle}}</h3>
				<h6 ng-click="deleteNote();">Delete</h6>
			</div>	
			<div>
				<form class="newCatPopup" ng-submit="createNewCat();">
					<input class="newCatName" type="text" placeholder="Name of new cat" ng-model="newCat">
					<input type="submit" value="Add folder">
				</form>
			</div>
			<span class="backButton" ng-click="backCat();">BACK</span>
		</nav>
	</aside>

	<!-- SIDEBAR ENDS -->


	<!-- ARTICLE STARTS -->

	<article class="note" ng-show="selectedNote">
		<h1>
			<input class="noteTitle" type="text" ng-model="selectedNote.noteTitle">
		</h1>
		<textarea ng-model="selectedNote.noteContent"></textarea>
	</article>


	<!-- ARTICLE ENDS -->


	<!-- FIXED DIVS -->

	<div class="addNoteButton" ng-click="createNewNote();">+</div>


</div>





	<!-- SCRIPTS -->

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="scripts/main.js"></script>
</body>
</html>